:root {
    /* FONTS */
    --font-jacquard: "Jacquard 24", system-ui;
    --font-jersey: "Jersey 15", sans-serif;

    /* SIZING */
    --five-pix: 5px;
    --eight-pix: 8px;

    /* COLORS */
    --BLUE: rgb(50, 102, 215);
}

* {
  margin: 0;
  padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 18px;
}

header {
    width: 98%;
    height: 100%;
    margin: auto;
}

.top-element {
    /* THIS IS A COMMENT */
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

#icon {
    width: 50px;
    height: 50px;
    border: var(--five-pix) double silver;
    border-radius: 50%;
}

h1 {
    font-family: var(--font-jacquard);
    font-size: 32px;
    color: var(--BLUE);
    letter-spacing: 1px;
}
.company-desc {
    font-size: 0.5em;
    font-size: 11px;
}

.user-interface {
    text-align: right;
}


.bottom-element {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    background-color: rgb(110, 109, 109);
}

.nav-links {
    /* border: 2px solid green; */

}
.nav-link {
    margin: 0 3px;
    padding: 0 3px;
    color: white;
    font-family: var();
    text-decoration: none;
    transition: all 1s;
}

.nav-link:hover {
    background-color: antiquewhite;
}

.search {
    /* border: 2px solid lightblue; */

}